;; please provide the credentials here .

[environment]
; INT , QA or PROD
environment = INT

[keyfile]
ssh_keyfile_path = keyfile/id_rsa

[root]
ssh_password = sonic_root
ssh_port = 22


[INT]
int_host = url
user =user
pass = password

[QA]
qa_host = url
user = user
pass= pass

[PROD]
prod_host = N/A
user = N/A
pass = N/A
